<svg width="1200" height="30">
   <text
    x="975"
    y="25"
    font-family="Arial"
    font-size="15"
    fill="#284dab"
    font-weight="bold"
    >Query Tester
  </text>
</svg>

<button
  type="button"
  style="background-color:#cce2fa; color:#284dab; font-family:Arial; box-shadow: 0 0 3px gray; border:0; padding:8px 10px; position:relative; top:55px; left:655px; font-size:15px;font-weight:bold"
  >All Analytics Tags ▼
</button>
<button
  type="button"
  style="background-color:white; color:gray; font-family:Arial; box-shadow: 0 0 3px gray; border:0; padding:8px 10px; position:relative; top:55px; left:675px; font-size:15px;font-weight:bold"
  >[calendar symbol and range]
</button>

<svg width="1200" height="170">
  <text
    x="205"
    y="40"
    font-family="Arial"
    font-size="35"
    fill="black"
    font-weight="bold"
    >Analytics
  </text>

  <defs>
    <filter id="shadow">
      <feDropShadow dx="0" dy="0" stdDeviation="4"
          flood-color="#BFBFBF"/>
    </filter>
  </defs>
  <rect
    x="205"
    y="80"
    rx="10"
    ry="10"
    width="270"
    height="85"
    style="fill:white; filter:url(#shadow)"/>
  <text
    x="217"
    y="105"
    font-family="Arial"
    font-size="15"
    fill="black"
    font-weight="bold"
    >Total Queries
  </text>
  <text
    x="217"
    y="150"
    font-family="Arial"
    font-size="32"
    fill="#284dab"
    font-weight="bold"
    >3,961
  </text>

  <rect
    x="500"
    y="80"
    rx="10"
    ry="10"
    width="270"
    height="85"
    style="fill:white; filter:url(#shadow)"/>
  <text
    x="517"
    y="105"
    font-family="Arial"
    font-size="15"
    fill="black"
    font-weight="bold"
    >Total Queries with No Results
  </text>
  <text
    x="517"
    y="150"
    font-family="Arial"
    font-size="32"
    fill="#284dab"
    font-weight="bold"
    >8
  </text>

  <rect
    x="795"
    y="80"
    rx="10"
    ry="10"
    width="270"
    height="85"
    style="fill:white; filter:url(#shadow)" />
  <text
    x="812"
    y="105"
    font-family="Arial"
    font-size="15"
    fill="black"
    font-weight="bold"
    >Total Clicks
  </text>
  <text
    x="812"
    y="150"
    font-family="Arial"
    font-size="32"
    fill="#284dab"
    font-weight="bold"
    >0
  </text>
</svg>  

<svg width="1200" height="226">
  <rect
    x="205"
    y="22"
    rx="10"
    ry="10"
    width="860"
    height="190"
    style="fill:white;stroke:grey;stroke-width:5;opacity:1.0;"/>
</svg> 

<svg width="1200" height="125">
  <text
    x="205"
    y="50"
    font-family="Arial"
    font-size="22"
    fill="black"
    font-weight="bold"
    >Query Analytics
  </text>
  <text
    x="205"
    y="70"
    font-family="Arial"
    font-size="12"
    fill="grey"
    >Gain insight into the most frequent queries, and which queries returned no results.
  </text>
  
  <text
    x="205"
    y="110"
    font-family="Arial"
    font-size="15"
    fill="black"
    font-weight="bold"
    >Top Queries
  </text>
</svg>

<svg width="1200" height="250">
  <rect
    x="205"
    y="10"
    rx="10"
    ry="10"
    width="860"
    height="230"
    style="fill:white;stroke:grey;stroke-width:5;opacity:1.0;"/>
</svg>

<button
  type="button"
  style="background-color:#cce2fa; color:#284dab; font-family:Arial; box-shadow: 0 0 3px gray; border:0; padding:8px 30px; position:relative; top:10px; left:205px; font-size:15px;font-weight:bold"
  >View All
</button>

<svg width="1200" height="60">
  <text
    x="205"
    y="50"
    font-family="Arial"
    font-size="15"
    fill="black"
    font-weight="bold"
    >Top Queries with No Results
  </text>
</svg>

<svg width="1200" height="127"> 
  <rect
    x="205"
    y="18"
    rx="10"
    ry="10"
    width="860" 
    height="100"
    style="fill:white;stroke:grey;stroke-width:5;opacity:1.0;"/>
</svg>

<button
  type="button"
  style="background-color:#cce2fa; color:#284dab; font-family:Arial; box-shadow: 0 0 3px grey; border:0; padding:8px 30px; position:relative; top:10px; left:205px; font-size:15px;font-weight:bold"
  >View All
</button>

<svg width="1200" height="145">
  <text
    x="205"
    y="70"
    font-family="Arial"
    font-size="22"
    fill="black"
    font-weight="bold"
    >Click Analytics
  </text>

  <text
    x="205"
    y="90"
    font-family="Arial"
    font-size="12"
    fill="grey"
    >Describe which queries generated the most and least amount of clicks."
  </text>

  <text
    x="205"
    y="130"
    font-family="Arial"
    font-size="15"
    fill="black"
    font-weight="bold"
    >Top Queries with Clicks
  </text>
</svg>

<svg width="1200" height="230">
  <rect
    x="205"
    y="10"
    rx="10"
    ry="10"
    width="860"
    height="200"
    style="fill:white;stroke:grey;stroke-width:5;opacity:1.0;"/>
</svg>

<svg width="1200" height="20">
  <text
    x="205"
    y="15"
    font-family="Arial"
    font-size="15"
    fill="black"
    font-weight="bold"
    >Top Queries with No Clicks
  </text>
</svg>

<svg width="1200" height="235">
  <rect
    x="205"
    y="20"
    rx="10"
    ry="10"
    width="860"
    height="200"
    style="fill:white;stroke:grey;stroke-width:5;opacity:1.0;"/>
</svg>

<button
  type="button"
  style="background-color:#cce2fa; color:#284dab; font-family:Arial; box-shadow: 0 0 3px grey; border:0; padding:8px 30px; position:relative; top:10px; left:205px; font-size:15px; font-weight:bold"
  >View All
</button>

<svg width="1200" height="120">
  <text
    x="205"
    y="80"
    font-family="Arial"
    font-size="22"
    fill="black"
    font-weight="bold"
    >Recent Queries
  </text>
  <text
    x="205"
    y="100"
    font-family="Arial"
    font-size="12"
    fill="grey"
    >A view into queries happening right now.
  </text>
</svg>

<svg width="1200" height="250">
  <rect
    x="205"
    y="10"
    rx="10"
    ry="10"
    width="860"
    height="230"
    style="fill:white;stroke:grey;stroke-width:5;opacity:1.0;"/>
</svg>


<button
  type="button"
  style="background-color:#cce2fa; color:#284dab; font-family:Arial; box-shadow: 0 0 3px grey; border:0; padding:8px 30px; position:relative; top:10px; left:205px; font-size:15px; font-weight:bold"
  >View All
</button>